DB_HOST=localhost
DB_USER=user
DB_PASS=password
DB_NAME=name
EMAIL_USER=email
EMAIL_PASS=app_password
EMAIL_DISPLAY_NAME=name_display
EMAIL_DISPLAY_ADDRESS=email_address_display
PORT=3000
BASE_URL=http://localhost:3000
JWT_SECRET=your_web_token_secret
JWT_EXPIRES_IN=2h

ADMIN_PORT=4001
ADMIN_COOKIE_SECRET=very-secure-admin-cookie-secret-change-this-in-production
ADMIN_SESSION_SECRET=very-secure-admin-session-secret-change-this-in-production